*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html *{
    font-family: 'Roboto', sans-serif;
}

/* header */

header{
    background-color: #EAC926;
}

.leftMenu{
    justify-content: flex-start;
    display: flex;
    width: 46vw;
}

.rightMenu{
    justify-content: flex-end;
    display: flex;
    width: 46vw;
    justify-content: flex-end;
}

.leftMenu ul,
.rightMenu ul {
    display: flex;
    flex-wrap: nowrap;
}

.leftMenu ul li,
.rightMenu ul li{
    padding: 5px;
    list-style-type: none;
}

.leftMenu ul li a,
.rightMenu ul li a {
  text-decoration: none;
  color: black;
  font-size: 10px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    list-style-type: none;
    color: black;
    text-decoration: none;
}

main{
    background-color: #ebebeb;
    margin: auto;
}

footer{
    text-align: center;
    box-shadow: none;
}

footer div div p i{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
    height: auto;
    width: auto;
}

img.mercadoLiebre{
    max-width: 33%;
    height: auto;
    width: auto
}

img.landscape{
    max-width: auto;
}

ul li a i{
    margin-right: 10px;
}




/* for class, general*/

.topOfPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.topOfPage div{
    margin: 10px;
}

.startseite{
    display: flex;
}

.startseite div{
    display: inline-block;
    width: 50%;
}

.catalogo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titulares{
    background-color: #ebebeb;
    font-size: 24px;
    font-weight: bold;
    padding-top: 35px;
}

.cuerpo{
    font-size: 12px;
}

.descripcion{
    font-size: 16px;
    color: #666;
}

.footer{
    box-shadow: none;
}


/* class for items for sale */

.listaVenta{
    width: 80%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.descProd{
    display: flex;    
    flex-wrap: wrap;
    width: 100vw;
    height: 100%;
    align-items: center;
    border-top: 1px solid #ebebed;
    background-color: white;
    padding: 10px;
    position: relative;
}

.descProd i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}


.descProd div p{
    text-align: left;
    margin: 3px;
}

.precio{
    font-size: 18px;
    display: inline-block;
    width: 50%
}

.descuento{
    font-size: 14px;
    color: #39b54a;
    display: inline-block;
    width: 50%;
    margin-left: 0px;
}

.nombreProducto{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
}



/* menu burger */

.menuBurger .conIcono{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white; 
    fill: #1259c3; 
    background-color: #1259c3; 
    border-color: #1259c3 ;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

button .menu i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}




/* menu de navegacion mobile */ 

@media (max-width: 359px){
    main{
    background-color: #ebebeb
    }

    .startseite{
        display: none;
    }

    .descProd div.nombreProducto{
        display: none;
    }

}

/* menu de navegacion tablet y  menu de navegacion desktop */ 

@media (min-width: 360px){
    .menuBurger{
        display: none;
    }

    .listaVenta{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .catalogo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        flex-wrap: wrap;
    }
}

@media (min-width: 769px){

}
    


