*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html *{
    font-family: 'Roboto', sans-serif;
}

/* document parts */

header{
    background-color: #EAC926;
}

main{
    background-color: #ebebeb;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

footer{
    display: flex;
    justify-content: space-around;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

/* header parts */

.leftMenu{
    justify-content: flex-start;
    display: flex;
    width: 50vw;
}

.rightMenu{
    justify-content: flex-end;
    display: flex;
    width: 50vw;
    justify-content: flex-end;
}

.leftMenu ul,
.rightMenu ul {
    display: flex;
    flex-wrap: nowrap;
}

.leftMenu ul li,
.rightMenu ul li{
    padding: 15px;
    font-size: 10px;
    list-style-type: none;
}

.leftMenu ul li a,
.rightMenu ul li a {
  text-decoration: none;
  color: black;
  font-size: 10px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    list-style-type: none;
    color: black;
    text-decoration: none;
}


img{
    max-width: 100%;
    height: auto;
    width: auto;
}

img.mercadoLiebre{
    height: auto;
    width: 49vw
}

img.landscape{
    width: 100vw;
    height: auto;
    margin-bottom: -1vw;
}

ul li a i{
    margin-right: 10px;
}

.topOfPage{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5vw;
}

.searchBar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 49vw;
    height: 30px;
}


.searchForm{
    width: 99%;    
    height: 7vw;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2vw;
    border-radius: 1px;
    border: 0px
}

.buttonForm{
    background-color: white;
    border: 0px;
    border-radius: 1px;
    margin-top: 2vw;
    height: 4vw;
    width: 9%;
}

.buttonForm i{
    height: 100%;
    margin-top: 50%;
    justify-self: center;
}

.compraCuotas{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.startseite{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}


/* menu burger */

.menuBurger .conIcono{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white; 
    fill: #1259c3; 
    background-color: #1259c3; 
    border-color: #1259c3 ;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

button .menu i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



/* Main */

.catalogo{
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titulares{
    background-color: #ebebeb;
    font-size: 24px;
    font-weight: bold;
    padding-top: 35px;
}

.cuerpo{
    font-size: 12px;
}

.descripcion{
    font-size: 16px;
    color: #666;
}

.footer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.containerFooter{
    margin-top: 40px;
    margin-right: 20px;
    max-width: 250px;
    text-align: center;
    margin: auto;
}

.containerFooter p i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    transition-duration: 250ms;
}


/* class for items for sale */

.listaVenta{
    width: 80%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.descProd{
    display: flex;    
    flex-wrap: wrap;
    width: 100vw;
    height: 100%;
    align-items: center;
    border-top: 1px solid #ebebed;
    background-color: white;
    padding: 10px;
    position: relative;
}

.descProd i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}


.descProd div p{
    text-align: left;
    margin: 3px;
}

.precio{
    font-size: 18px;
    display: inline-block;
    width: 50%
}

.descuento{
    font-size: 14px;
    color: #39b54a;
    display: inline-block;
    width: 50%;
    margin-left: 0px;
}

.nombreProducto{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    opacity: 0;
}


/* Register page */

.registerContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    width: 75vw;
    height: auto;
    margin: auto;
    border-radius: 15px;
    padding: 32px 32px;
}

.formRegister{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.registerTitle{
    padding-bottom: 15px;
}

.formRegister label{
    margin: 0 0 5px 5px;
    color: rgb(25, 25, 25);
    padding-top: 10px;
    font-weight: bold;
}

.registerInput{
    background-color: white;
    padding: 15px;
    border: 3px solid #ebebeb;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.formRegister button.send{
    align-self: center;
    margin-top: 30px;
    width: 50%;
    height: 50px;
    font-size: 18px;
    border: 3px solid #1259c3;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.5s;
    background-color: #1259c3;
    color: white;
    cursor: pointer;
}

.formRegister button.delete{
    align-self: center;
    margin-top: 30px;
    width: 50%;
    height: 50px;
    font-size: 18px;
    border: 3px solid #c31224;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.5s;
    background-color: #c31224;
    color: white;
    cursor: pointer;
}

.radioSelect{
    padding: 10px 10px 10px 10px;
    align-self: center;
}

.checkboxSelect{
    padding: 7px 7px 7px 7px;
    align-self: center;
}

/* Login page */

.loginContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    width: 65vw;
    height: auto;
    margin: auto;
    border-radius: 15px;
    padding: 32px 32px;
}

.loginTitle{
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    padding: 10px;
}

.formLogin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.formLogin label{
    margin: 0 0 5px 5px;
    color: rgb(25, 25, 25);
    padding-top: 10px;
    font-weight: bold;
}

.formLogin button.send{
    align-self: center;
    margin-top: 30px;
    width: 50%;
    height: 50px;
    font-size: 18px;
    border: 3px solid #0033fd;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.5s;
    background-color: #0033fd;
    color: white;
    cursor: pointer;
}

.formLogin button:hover{
    background-color:#0022AA;
    border-color: #0022AA;
}

/* menu de navegacion mobile */ 

@media (min-width: 0px) and (max-width: 359px){
    main{
    background-color: #ebebeb
    }

    .startseite{
        display: none;
    }

    .nombreProducto{
        display: none;
    }

    .catalogo{
        align-items: center;
        grid-template-columns: repeat(1, 80vw);
    }

    .registerContainer, .loginContainer{
        width: 99vw
    }

    .buttonForm{
        height: 7vw;
        width: 9%;
    }
}

/* menu de navegacion tablet y  menu de navegacion desktop */ 

@media (min-width: 359px) and (max-width: 768px){
    .menuBurger{
        display: none;
    }

    .listaVenta{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .catalogo{
        grid-template-columns: repeat(2, 50vw);
    }

    .nombreProducto{
        display: block;
        opacity: 1.0
    }

    .registerContainer, .loginContainer{
        width: 99vw
    }

    .buttonForm{
        height: 7vw;
        width: 9%;
    }
    
}

@media (min-width: 768px){

    .menuBurger{
        display: none;
    }


    .catalogo{
        grid-template-columns: repeat(4, 25vw);
    }

    .leftMenu ul li a,
    .rightMenu ul li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    .listaVenta:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition-duration: 500ms;
    }

    .listaVenta:hover .descProd .nombreProducto{
        opacity: 1.0;
        transition-duration: 250ms;
    }

    .listaVenta:hover .descProd i{
        transform: rotateZ(-90deg);
        transition-duration: 750ms;
    }
    
    .searchBar{
        padding-left: 20px;
        width: 32vw;
        height: 30px;
    }

    .compraCuotas{
        width: 32vw;
    }
    
    .searchForm{
        width: 90%;
        height: 4vw;
    }

    .buttonForm{
        height: 4vw;
        width: 9%;
    }

    .buttonForm i{
        height: 100%;
    }

    img.mercadoLiebre{
        height: auto;
        width: 33vw
    }

    .containerFooter:hover p i{
        font-size: 2em;
        color: #39b54a;
        margin-bottom: 10px;
    }
}
    


